@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #f5f6f7;
}
.nav {
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 2;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    display: flex;
    box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%);
}
.nav-img{
    width: 3%;
    margin-right: 15px;
}
.container {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 200px;
    padding: 5px;
    /* box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%); */
    /* background-color: #393d44; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.container-message {
    width: 50%;
    height: 50%;
    /* background-color: #393d44; */
    /* padding: 10px; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%); */

}

.container-image-1 {
    width: 64%;
    border-radius: 3px;
    padding: 5px;
    background: white;
}

.container-image-1>img {
    width: 100%;
}

.container-card {
    width: 100%;
    height: 100%;
    background-color: #393d44;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%); */
    margin-bottom: 15px;

}

.formulario {
    width: 30%;
    height: 40%;
    /* background-color: #393d44; */
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%);
}

label {
    font-size: 24px;
    margin-bottom: 15px;
}

input {
    border: none;
    background: #e2e2e2;
    padding: 10px;
    border-radius: 3px;
}

textarea {
    margin-top: 10px;
    width: 100%;
    border: none;
    background: #e2e2e2;
    border-radius: 3px;
}

select {
    border: none;
    padding: 10px;
    border-radius: 3px;
}

input,
textarea,
select {
    margin-bottom: 20px;
}

.card {
    display: flex;
    width: 60%;
    /* margin: 0 auto; */
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    /* margin-bottom: 10px; */
    /*   border: 1px solid black; */
    box-sizing: border-box;
    box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%);
    /* margin-bottom: 50px; */
    height: auto;
}

.card-img {
    position: relative;
    display: flex;
    width: 15%;
}

.conn {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    top: 45px;
    right: 5px;
    border: 3px solid white;
}

.online {
    background-color: green;
}

.ofline {
    background-color: red;
}

.line {
    background-color: gray;
}

.img-profile {
    width: 85%;
    height: 62%;
    border-radius: 50%;
    margin-top: 10px;

    box-shadow: 0 7px 23px 0px hsl(240deg 30% 28% / 25%), 0 8px 5px -7px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
}

.card-info {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.username {
    font-size: 20px;
    color: #ff355a;
    margin-bottom: 5px;
}

.comment {
    margin-left: 5px;
    font-size: 18px;
    margin-bottom: 8px;
}

.time {
    width: 65%;
    display: flex;
    flex-direction: row;
    color: gray;
    font-size: 12px;
    justify-content: start;
    margin-left: 5px;
    margin-top: 5px;
    align-items: center;
}

.time>div {
    margin-right: 30px;
}

.postCategory {
    padding: 2px;
    background-color: #ffd5c2;
    border-radius: 3px;
}

.icon {
    color: red;
    background-position: -1560px 0px;
    width: 26px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(https://static.platzi.com/static/css/heart-outline.b4a046eddfa63108054229b65589743e.svg);
}

.icon:hover,
.iconoHeart {
    cursor: pointer;
}

.iconoS {
    color: gray;
}

.iconoHeart {
    font-size: 20px;
    margin-top: 60px;
    color: gray;
}

.iRed {
    color: #ff355a;
}

.btn {
    width: 25%;
    padding: 10px;
    color: black;
    font-size: 24px;
    border-radius: 3px;
    /* background-color: #2057a5; */
    border: none;
    font-family: 'Fredoka One', cursive;
}

.btn-Form {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 24px;
    border-radius: 3px;
    margin-top: 50px;
    border: none;
    font-family: 'Fredoka One', cursive;
}


.btn:hover,
.btn-Form {
    cursor: pointer;
    background-color: #e0e0e0;
}

.btn-blocked {
    color: #585858;
    background-color: #929292;
}

small {
    display: block;
    margin-top: 10px;
    text-align: center;
}

@media only screen and (max-width: 980px) and (min-width: 320px) {
    .container {
        width: 90%;
        margin: 0 auto;
        margin-top: 200px;
        padding: 20px;
        box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%);
        /* background-color: #393d44; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .container-image-1{
        width: 94%;
    /* border-radius: 3px; */
    padding: 2px;
    /* background: white; */
    }

    .container-image-1>img {
        height: 100%;
    }

    .container-message {
        width: 90%;
    }

    .card {
        width: 95%;
    }

    .time {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: gray;
        font-size: 12px;
        justify-content: start;
        /*   border: 1px solid blue; */
        margin-left: 5px;
        margin-top: 5px;
        /*   text-align: center; */
    }

    .comment {
        font-size: 16px;
    }

    .container-card,
    .formulario {
        width: 100%;
        margin-bottom: 90px;
    }

    .btn {
        width: 48%;
        font-size: 19px;
    }

    /* slider 2   */
    .formulario {
        width: 80%;
        height: auto;

    }

    #myForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 99%;
    }
}